<!-- Navigation -->
<header>
	<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top fixed-top">
		<div class="nav-container">
			<a class="navbar-brand" href="<%= root_path %>"><img src="<%= image_path('company_logo.png') %>" alt="Logo mercadev" id="company_logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="<%= home_path %>">Accueil
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="<%= agency_path %>">L'agence</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="<%= services_path %>">Services</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="<%= new_contact_path %>">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>